<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
The blue pitta (Hydrornis cyaneus) is a species of passerine bird native to tropical south-eastern Asia. It has long legs and a short tail, and is about 23 cm (9 in) long, the female being more sombrely clad than the male. Secretive and shy, it is found in moist lowland and montane forests, particularly in ravines and near watercourses. It forages on the forest floor for insects and other small invertebrates, flicking away leaves and probing the ground with its beak. The nest is a large, bulky dome-shaped structure with a side entrance, hidden amongst tangled plant growth.
</body>
</html>